<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование команды | Эстафеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: home})" />
    <div class="page">
        <form method="post" th:action="'/update_team?id=' + ${team.teamId}">
            <div><input name="team_name" type="text" th:value="${team.teamName}"></div>
            <div><input name="trainers" type="text" th:value="${team.trainers}"></div>
            <div><input type="submit" value="Обновить"></div>
        </form>
    </div>
</div>

</body>
</html>