<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование дисциплины | Эстафеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: home})" />
    <div class="page">
        <form method="post" th:action="'/update_subject?id=' + ${subject.subjectId}">
            <div><input name="subject_name" type="text" th:value="${subject.subjectName}"></div>
            <div><input name="subject_unit" type="text" th:value="${subject.subjectUnit}"></div>
            <div><input name="subject_multiplier" type="text" th:value="${subject.subjectMultiplier}"></div>
            <div><input type="submit" value="Изменить"></div>
        </form>
    </div>
</div>

</body>
</html>