<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Переименование спортсмена | Эстафеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: home})" />
    <div class="page">
        <div>Сменить имя с <th:block th:text="${player.playerName}"/> на:</div>
        <form method="post" th:action="'/update_player_name?id=' + ${player.playerId}">
            <div><input name="player_name" type="text" th:value="${player.playerName}"></div>
            <div><input type="submit" value="Переименовать"></div>
        </form>
    </div>
</div>

</body>
</html>