<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Эстафеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: home})" />
    <div class="page">
        <h1>Эстафеты</h1>
        <div>
            Эстафе́та (фр. estafette — «нарочный, посыльный, курьер»; от итал. staffa — стремя) — совокупность командных
            спортивных дисциплин, в которых участники один за другим проходят этапы, передавая друг другу очередь
            перемещаться по дистанции. В лёгкой атлетике переход с этапа на этап осуществляется передачей эстафетной
            палочки (стадионные виды) или ленты (экидэн); в лыжных видах — физическим касанием рукой атлета
            следующего этапа, в плавании — касанием бортика. Задача эстафетной команды — первой добраться до финиша.
        </div>
    </div>
</div>

<!--
<div class="box">
    <div th:replace="fragments.html :: dbtable(emplist = ${emps})" />
    <div th:replace="fragments.html :: form(emp = ${defemp}, adding = ${creating})" />
</div>
-->

</body>
</html>