<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Спортсмены | Эстафеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: players})" />
    <div class="page">
        <table>
            <caption>Спортсмены</caption>
            <tr>
                <td>Имя</td>
                <td>Команда</td>
            </tr>
            <tr th:each="player : ${players}">
                <td><a th:href="'/player?id='+${player.playerId}" th:text="${player.playerName}" /></td>
                <td><a th:href="'/team?id='+${player.teamId}" th:text="${player.teamName}" /></td>
            </tr>
        </table>
</div>

</body>
</html>