<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${player.playerName} + ' | Эстафеты'" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: player(${player.playerId})})" />
    <div class="page">
        <table>
            <tr>
                <td>Имя</td>
                <td>Команда</td>
            </tr>
            <tr>
                <td th:text="${player.playerName}" />
                <td><a th:href="'/team?id='+${player.teamId}" th:text="${player.teamName}" /></td>
            </tr>
        </table>
    </div>

</body>
</html>