<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Спортсмены | Эстафеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu" />
    <div class="page">
        <table>
            <tr>
                <td>Имя</td>
                <td>Команда</td>
            </tr>
            <tr th:each="player : ${players}">
                <td th:text="${player.playerName}" />
                <td th:text="${player.teamName}" />
            </tr>
        </table>
</div>

</body>
</html>