<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${player.playerName} + ' | Эстафеты'" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: player(${player})})" />
    <div class="page">
        <table>
            <tr>
                <td>Имя</td>
                <td>Команда</td>
            </tr>
            <tr>
                <td th:text="${player.playerName}" />
                <td><a th:href="'/team?id='+${player.teamId}" th:text="${player.teamName}" /></td>
            </tr>
        </table>

        <table>
            <tr>
                <td>Событие</td>
                <td>Дисциплина</td>
                <td>Результат</td>
                <td>Единица измерения</td>
            </tr>
            <tr th:each="result : ${results}">
                <td><a th:href="'/result_list?id='+${result.resultListId}" th:text="${result.resultListName}" /></td>
                <td><a th:href="'/subject?id='+${result.subjectId}" th:text="${result.subjectName}" /></td>
                <td th:text="${result.resultValue}" />
                <td th:text="${result.subjectUnit}" />
            </tr>
        </table>
    </div>
</div>

</body>
</html>