<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Авторизация | Эстафеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: relay_race(${relayRace.relayId})})" />
    <div class="page">
        <h3>Эстафета</h3>
        <div th:text="'Название: ' + ${relayRace.relayName}" />
        <div th:text="'Количество команд: ' + ${relayRace.teamNumber}" />
        <div th:text="'Количество игроков в каждой команде: ' + ${relayRace.playerNumber}" />
        <br />

        <table>
            <caption>Дисциплины</caption>
            <tr>
                <td>Наименование</td>
                <td>Единица измерения</td>
                <td>Множитель</td>
            </tr>
            <tr th:each="subject : ${subjects}">
                <td><a th:href="'/subject?id='+${subject.subjectId}" th:text="${subject.subjectName}" /></td>
                <td th:text="${subject.subjectUnit}" />
                <td th:text="${subject.subjectMultiplier}" />
            </tr>
        </table>
        <br />

        <table>
            <caption>Команды</caption>
            <tr>
                <td>Название</td>
                <td>Тренерский состав</td>
                <td>Результаты</td>
            </tr>
            <tr th:each="team : ${teams}">
                <td><a th:href="'/team?id='+${team.teamId}" th:text="${team.teamName}" /></td>
                <td th:text="${team.trainers}" />
                <td><a th:href="'/result_list?id='+${team.resultListId}" th:text="${team.resultListScore}" /></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>