<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${team.teamName} + ' | Эстафеты'" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: home})" />
    <div class="page">
        <table>
            <tr>
                <td>Название</td>
                <td>Тренерский состав</td>
            </tr>
            <tr>
                <td th:text="${team.teamName}" />
                <td th:text="${team.trainers}" />
            </tr>
        </table>
        <br />
        <ol th:each="player : ${players}">
            <li><a th:href="'/player?id='+${player.playerId}" th:text="${player.playerName}" /></li>
        </ol>
    </div>

</body>
</html>