<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление дисциплины | Эстафеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: home})" />
    <div class="page">
        <form method="post" th:action="'/insert_team_subject?id=' + ${teamId}">
            <table>
                <tr>
                    <td>Название</td>
                    <td>
                        <select name="subject_id">
                            <option th:each="subject : ${subjects}" th:value="${subject.subjectId}"
                                    th:label="${subject.subjectName}">
                        </select>
                    </td>
                </tr>
            </table>
            <div><input type="submit" value="Добавить"></div>
        </form>
    </div>
</div>

</body>
</html>