<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание команды | Эстафеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="/../fragments.html :: menu(~{queries.html :: home})" />
    <div class="page">
        <form method="post" action="/insert_team">
            <table>
                <tr><td>Название</td><td><input name="team_name" type="text" value=""></td></tr>
                <tr><td>Тренерский состав</td><td><input name="trainers" type="text" value=""></td></tr>
            </table>
            <div><input type="submit" value="Добавить"></div>
        </form>
    </div>
</div>

</body>
</html>