<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:fragment="menu" class="menu">
    <div class="menu_header">
        <h3>Данные</h3>
        <div>Команды</div>
        <div>Игроки</div>
        <div>Дисциплины</div>
        <div>Тренировки</div>
        <div>Эстафеты</div>
    </div>
    <div class="menu_header">
        <h3>Запросы</h3>
        <div>+Команда</div>
        <div>+Игрок</div>
        <div>+Дисциплин</div>
        <div>+Тренировка</div>
        <div>+Эстафета</div>
    </div>
</div>

<div th:fragment="home">
    <h1>Эстафеты</h1>
    <div>Дорогие друзья, консультация с профессионалами из IT обеспечивает широкому кругу специалистов участие в
        формировании модели развития. Равным образом начало повседневной работы по формированию позиции создаёт
        предпосылки качественно новых шагов для экономической целесообразности принимаемых решений! Соображения высшего
        порядка, а также консультация с профессионалами из IT позволяет выполнить важнейшие задания по разработке
        существующих финансовых и административных условий. Дорогие друзья, консультация с профессионалами из IT влечет
        за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Задача
        организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в
        формировании ключевых компонентов планируемого обновления? Значимость этих проблем настолько очевидна, что рамки
        и место обучения кадров требует определения и уточнения форм воздействия! Разнообразный и богатый опыт курс на
        социально-ориентированный национальный проект способствует подготовке и реализации существующих финансовых и
        административных условий. Не следует, однако, забывать о том, что рамки и место обучения кадров играет важную
        роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в
        особенности же курс на социально-ориентированный национальный проект способствует подготовке и реализации модели
        развития. Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и
        модернизации экономической целесообразности принимаемых решений. Таким образом, социально-экономическое развитие
        позволяет оценить значение позиций,...</div>
</div>

<!--
<td th:fragment="link(id)">
    <a th:href="'/edit?id=' + ${id}" th:text="${id}" />
</td>

<div th:fragment="dbtable(emplist)" class="table">
    <table class="query">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Phone</td>
            <td>Salary</td>
            <td>Address</td>
            <td>Expirience</td>
        </tr>
        <tr th:each="emp : ${emplist}">
            <td th:replace="fragments :: link(id = ${emp.employeeId})" />
            <td th:text="${emp.firstName}" />
            <td th:text="${emp.lastName}" />
            <td th:text="${emp.phoneNumber}" />
            <td th:text="${emp.salary}" />
            <td th:text="${emp.address}" />
            <td th:text="${emp.expirience}" />
        </tr>
    </table>
</div>

<div class="buttons" th:fragment="button(id, creating)">
    <input th:if="${creating}" type="submit" value="Добавить">
    <a th:if="${!creating}" href="/">Отмена</a>
    <a th:if="${!creating}" th:href="'/delete?id=' + ${id}">Удалить</a>
    <input th:if="${!creating}" type="submit" value="Обновить">
</div>

<div th:fragment="form(emp, adding)">
    <div class="form">
        <form method="post" autocomplete="off" th:action="${adding} ? '/insert' : '/update?id=' + ${emp.employeeId}">
            <table>
                <tr>
                    <td>Имя</td>
                    <td><input type="text" name="firstName" th:value="${emp.firstName}"></td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td><input type="text" name="lastName" th:value="${emp.lastName}"></td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td><input type="text" name="phoneNumber" th:value="${emp.phoneNumber}"></td>
                </tr>
                <tr>
                    <td>Зарплата</td>
                    <td><input type="text" name="salary" th:value="${emp.salary}"></td>
                </tr>
                <tr>
                    <td>Адрес</td>
                    <td><input type="text" name="address" th:value="${emp.address}"></td>
                </tr>
                <tr>
                    <td>Стаж</td>
                    <td><input type="text" name="expirience" th:value="${emp.expirience}"></td>
                </tr>
            </table>
            <div th:replace="fragments :: button(id = ${emp.employeeId}, creating = ${adding})" />
        </form>
    </div>
</div>
-->

</body>
</html>