<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:fragment="menu(queries)" class="menu">
    <div>
        <h2><a href="/">Эстафеты</a></h2>
        <h3>Данные</h3>
        <div><a href="/teams">Команды</a></div>
        <div><a href="/players">Игроки</a></div>
        <div><a href="/subjects">Дисциплины</a></div>
        <div><a href="/workouts">Тренировки</a></div>
        <div><a href="/relay_races">Эстафеты</a></div>
    </div>
    <div th:replace="${queries}" />
    <div class="auth_frame">
        <div>Вы вошли как <strong>гость</strong></div>
        <div><a href="/authorization">Авторизоваться</a></div>
    </div>
</div>

</body>
</html>