<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Эстафета</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="box">
    <div th:replace="fragments.html :: menu" />
    <div class="page">
        <div th:replace="fragments.html :: home" />
    </div>
</div>

<!--
<div class="box">
    <div th:replace="fragments.html :: dbtable(emplist = ${emps})" />
    <div th:replace="fragments.html :: form(emp = ${defemp}, adding = ${creating})" />
</div>
-->

</body>
</html>