<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:fragment="home">
</div>

<div th:fragment="player(p)">
    <h3>Запросы</h3>
    <div><a th:href="'/rename_player?id='+${p.playerId}">Переименовать</a></div>
    <div><a th:if="${p.teamId == 0}" th:href="'/change_player_team?id='+${p.playerId}">Вступить в команду</a></div>
    <div><a th:if="${p.teamId != 0}" th:href="'/change_player_team?id='+${p.playerId}">Сменить команду</a></div>
    <div><a th:if="${p.teamId != 0}" th:href="'/leave_player_team?id='+${p.playerId}">Покинуть команду</a></div>
    <div><a th:href="'/remove_player?id='+${p.playerId}">Удалить</a></div>
</div>

<div th:fragment="players">
    <h3>Запросы</h3>
    <div><a href="/add_player">Зарегистрировать нового</a></div>
</div>

<div th:fragment="relay_races">
    <h3>Запросы</h3>
    <div><a href="/add_relay_race">Организовать эстафету</a></div>
</div>

<div th:fragment="relay_race(relayRace)">
    <h3>Запросы</h3>
    <div th:if="${relayRace.isOpen}"><a th:href="'/add_relay_subject?id='+${relayRace.relayId}">Добавить дисциплину</a></div>
    <div th:if="${relayRace.isOpen}"><a th:href="'/add_relay_team?id='+${relayRace.relayId}">Зарегистрировать команду</a></div>
    <div th:if="${relayRace.isOpen}"><a th:href="'/close_relay_race?id='+${relayRace.relayId}">Завершить</a></div>
    <div><a th:href="'/remove_relay_race?id='+${relayRace.relayId}">Удалить</a></div>
</div>

<div th:fragment="subject(id)">
    <h3>Запросы</h3>
    <div><a th:href="'/edit_subject?id='+${id}">Изменить</a></div>
    <div><a th:href="'/remove_subject?id='+${id}">Удалить</a></div>
</div>

<div th:fragment="subjects">
    <h3>Запросы</h3>
    <div><a href="/add_subject">Добавить</a></div>
</div>

<div th:fragment="team(team_id, result_list_id)">
    <h3>Запросы</h3>
    <div><a th:if="${result_list_id == 0}" th:href="'/start_workout?id='+${team_id}">Начать тренировку</a></div>
    <div><a th:if="${result_list_id != 0}" th:href="'/result_list?id='+${result_list_id}">Продолжить занятие</a></div>
    <div><a th:href="'/add_team_subject?id='+${team_id}">Добавить дисциплину</a></div>
    <div><a th:href="'/edit_team?id='+${team_id}">Изменить</a></div>
    <div><a th:href="'/remove_team?id='+${team_id}">Удалить</a></div>
</div>

<div th:fragment="result_list(resultList)">
    <h3>Запросы</h3>
    <div th:if="${resultList.isOpen}"><a th:href="'/add_result?id='+${resultList.resultListId}">Добавить результат</a></div>
    <div th:if="${resultList.isOpen}"><a th:href="'/close_result_list?id='+${resultList.resultListId}">Завершить</a></div>
    <div><a th:href="'/remove_result_list?result_list_id=' + ${resultList.resultListId} + '&id='+${resultList.teamId}">Удалить</a></div>
</div>

<div th:fragment="teams">
    <h3>Запросы</h3>
    <div><a href="/add_team">Добавить</a></div>
</div>

</body>
</html>