div.box {
    width: 1200px;
    margin:0px auto;
}

div.menu {
    width: 140px;
    float: left;
    text-align: center;
}

div.page {
    width: 1050px;
    margin-left: 150px;
    border: 1px solid #000;
    padding: 10px;
}

div.auth_frame {
    margin-top: 15px;
    padding: 10px;
    border-top: 1px solid #000;
    font-size: 15px;
}

form {
    width: 400px;
    margin: 0px auto;
}

div.page table {
	margin: 0px auto;
}

div.page table td {
	border: solid 1px #ccc;
	padding: 10x;
}

div.page table tr:first-child td {
	font-weight: bold;
}